Source: gpstime
Section: science
Priority: optional
Maintainer: Jameson Graef Rollins <jameson.rollins@ligo.org>
Standards-Version: 3.9.8
Homepage: https://git.ligo.org/cds/gpstime
Vcs-Git: https://git.ligo.org/cds/gpstime.git
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all,
 python-dateutil,
 python-requests,
 python-setuptools,
 python3-all,
 python3-dateutil,
 python3-requests,
 python3-setuptools,
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python-gpstime
Architecture: all
Depends:
 python-dateutil,
 ${misc:Depends},
 ${python:Depends},
Description: GPS-aware Python datetime module
 Provides a gpstime class that extends the built-in datetime class to
 include GPS time conversion methods.

Package: python3-gpstime
Architecture: all
Depends:
 python3-dateutil,
 ${misc:Depends},
 ${python3:Depends},
Description: GPS-aware Python3 datetime module
 Provides a gpstime class that extends the built-in datetime class to
 include GPS time conversion methods.
 .
 Python3 compatibility.

Package: gpstime
Architecture: all
Depends:
 python3-gpstime,
 ${misc:Depends},
 ${python3:Depends},
Description: GPS time conversion utility
 Command line utility for converting to/from GPS time.
